# Latihan 2

## NIM     : 

## NAMA :

1. Buatlah sebuah variabel, beri nama sayuran. Simpanlah "kangkung" ke dalam varibel sayuran tersebut dan tampilkan

2. Dapatkah anda mencetak (print) isi dari setiap variabel berikut : 

    a. 01_alamat = 'Paingan' 
    
    b. TAHUN = 2023
    
    c. kode_matakuliah = 'INF106'
    
    d. tahun-lahir = 1972
   
   Berikan penjelasan singkat ! Jika tidak dapat di print berikan perubahannya agar dapat di'print'

In [ ]:
#2a
01_alamat='Paingan'
print(01_alamat)

## Penjelasan :


## Perubahan (jika tidak dapat dicetak)

In [ ]:
#2b

In [ ]:
#2c

In [ ]:
#2d

3. Buatlah variabel-variabel berikut dan tampilkan tipe data dari setiap variabel:
        a. variabel1 = 123
        b. variabel2 = "123"
        c. variabel3= 123.456

In [ ]:
## Varibel1

## Variabel2

## variabel3

4. Lakukan konversi dan tampilkan hasilnya (value dan tipe data)
       a. Convert float ke integer 
            varibel4 = 27.6
       b. Convert string ke integer
            variabel5="50000"

5. Gunakan arithmetic operators untuk menyelesaikan :
        a. 10 + 100
        b. ((27*2)+50) ** 0.5
        c. Modulus dari 35 / 6

6. Gunakan logical operator, dan evaluasi setiap statement (TRUE/FALSE) 
        a. x=200 
           print(x> 4 or x < 300)
           TRUE/FALSE
        b. 3!=4 and 3 < 4 
           TRUE/FALSE           
        c. x=200
           print(not(x>4 or x < 300))
           TRUE/FALSE

7. Gunakan identity operator, evaluasi setiap statement (TRUE/FALSE)
        a.  x = 300         
            y = 700
            z = y
            print(z is y)
            TRUE/FALSE     
        b.  x = 300  
	        y = 700
            z = y
            print(x is not y)	 
            TRUE/FALSE

8. Gunakan membership operator : 
        a. Apakah 3000 ada dalam "3000 tahun yang lalu ?"
        b. Apakah "apel" ada dalam list ["apel","pisang","jeruk"]
        c. "et" tidak ada dalam "Let's go for a meal" True/False

9. Tentang LiST
        1. Buat dan cetak sebuah list "classList" yang berisi 3 elemen yaitu Agus, Anna, Bella
        2. List indexing: Cari element ketiga dalam list dan tampilkan
        3. List slicing : Akses 2 element terakhir dalam List dan tampilkan
        4. Tambahkan element menggunakan metode append dan extend : Lisa, Maria
        5. Sisipkan (insert) element ke dalam list (1) setelah elememt kedua : Lisa         
        6. Remove Anna dari list
        7. Remove element kedua dari list menggunakan pop dan delete (dari list awal)

10. DICTIONARY
        1. Buatlah sebuah dictionary databases yang diberi nama myClass (empty dictionary) dan tambahkan pasangan Key:Value berikut:
        Keys    : "Dosen","Asisten","Jumlah Mahasiswa"
        Values  : "Rido",["Charlie","Yayuk","Iman"],25
        Types   : String, list, int
        
        2. Tambahkan asisten ke-4 beri nama "Laurensius"
        3. Jumlah mahasiswa bertambah 3 menjadi 28
        4. Tampilkan hasil dari dictionary. hasil yang diharapkan :
            
           {'Dosen': 'Rido', 'Asisten': ['Charlie', 'Yayuk', 'Iman', 'Laurensius'], 'Jumlah Mahasiswa': 28}