### Pengolahan Data dengan Pandas
### Dipersiapkan oleh Ridowati G
### LAST UPDATE : 14 Mei 2023
### 6. Pengelompokan
#### 6.1. Group By
        Langkah:
        1. Splitting
        2. Applying
        3. Combining

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
## 5.5.1. Single parameter
# importing pandas as pd
import pandas as pd

data=pd.read_csv("datapeminjaman.csv",sep=";")

df=pd.DataFrame(data)
print(df)

In [ ]:
## Group by  berdasarkan Customer


df.groupby('Kelas')
print(df.groupby('Kelas').groups)

In [ ]:
# applying groupby() function to
# group the data on Kelas value.
gk = df.groupby('Kelas')
   
# Let's print the first entries
# in all the groups formed.
gk.first()

In [ ]:
gk=df.groupby(['Kelas', 'CC'])

print(gk.groups)
#print(df.groupby(['Customer', 'CC']).groups)

print(gk.first())

gk.aggregate(np.sum)

In [ ]:
gk=df.groupby(['Kelas'])

gk['Pendapatan'].agg([np.sum,np.mean,np.std])

In [ ]:
gk=df.groupby(['Kelas'])

gk.agg({'Pendapatan' : 'sum', 'Usia' : 'std'})