# Latihan 2

## NIM     : 215314181

## NAMA : Antonius Miquel Aureliano

1. Buatlah sebuah variabel, beri nama sayuran. Simpanlah "kangkung" ke dalam varibel sayuran tersebut dan tampilkan

In [ ]:
sayuran ="kangkung"
print(sayuran)

2. Dapatkah anda mencetak (print) isi dari setiap variabel berikut : 

    a. 01_alamat = 'Paingan' 
    
    b. TAHUN = 2023
    
    c. kode_matakuliah = 'INF106'
    
    d. tahun-lahir = 1972
   
   Berikan penjelasan singkat ! Jika tidak dapat di print berikan perubahannya agar dapat di'print'

In [4]:
#2a

#01_alamat='Paingan'
#print(01_alamat)

## Penjelasan :
#tidak bisa diawali dengan angka, maka akan error


## Perubahan (jika tidak dapat dicetak)
alamat = "paingan"
print(alamat)

paingan

In [6]:
#2b
TAHUN = 2023
print(TAHUN)

## Penjelasan :
#dapat di cetak karena diawali dengan huruf


## Perubahan (jika tidak dapat dicetak)

2023

In [5]:
#2c
kode_matakuliah = 'INF106'
print(kode_matakuliah)

## Penjelasan :
#dapat di cetak karena diawali dengan huruf


## Perubahan (jika tidak dapat dicetak)

INF106

In [8]:
#2d
#tahun-lahir = 1972
#print(tahun-lahir)

## Penjelasan :
#nama variable tidak bisa menggunakan tanda "-" karena akan dihitung sebagai operator


## Perubahan (jika tidak dapat dicetak)
tahun_lahir = 1972
print(tahun_lahir)

1972

3. Buatlah variabel-variabel berikut dan tampilkan tipe data dari setiap variabel:
        a. variabel1 = 123
        b. variabel2 = "123"
        c. variabel3= 123.456

In [9]:
## Varibel1
variabel1 = 123
print(type(variabel1))
## Variabel2
variabel2 = "123"
print(type(variabel2))
## variabel3
variabel3= 123.456
print(type(variabel3))

<class 'int'>
<class 'str'>
<class 'float'>

4. Lakukan konversi dan tampilkan hasilnya (value dan tipe data)
       a. Convert float ke integer 
            varibel4 = 27.6
       b. Convert string ke integer
            variabel5="50000"

In [11]:
#4a
variabel4 = int(27.6)
print(variabel4)
print(type(variabel4))

#4b
variabel5 = int("50000")
print(variabel5)
print(type(variabel5))

27
<class 'int'>
50000
<class 'int'>

5. Gunakan arithmetic operators untuk menyelesaikan :
        a. 10 + 100
        b. ((27*2)+50) ** 0.5
        c. Modulus dari 35 / 6

In [12]:
 a =(10 + 100)
print(a)
 b =(((27*2)+50)**0.5)
print(b)
 c = (35 % 6)
print(c)

110
10.198039027185569
5

6. Gunakan logical operator, dan evaluasi setiap statement (TRUE/FALSE) 
        a. x=200 
           print(x> 4 or x < 300)
           TRUE/FALSE
        b. 3!=4 and 3 < 4 
           TRUE/FALSE           
        c. x=200
           print(not(x>4 or x < 300))
           TRUE/FALSE

In [13]:
#6a
x=200 
print(x> 4 or x < 300)
#True

#6b
print(3!=4 and 3 < 4) 
#True  

#6c
x=200
print(not(x>4 or x < 300))
#False

True
True
False

7. Gunakan identity operator, evaluasi setiap statement (TRUE/FALSE)
        a.  x = 300         
            y = 700
            z = y
            print(z is y)
            TRUE/FALSE     
        b.  x = 300  
	        y = 700
            z = y
            print(x is not y)	 
            TRUE/FALSE

In [14]:
#7a
x = 300         
y = 700
z = y
print(z is y)
#True 

#7b 
x = 300  
y = 700
z = y
print(x is not y)     
#true

True
True

8. Gunakan membership operator : 
        a. Apakah 3000 ada dalam "3000 tahun yang lalu ?"
        b. Apakah "apel" ada dalam list ["apel","pisang","jeruk"]
        c. "et" tidak ada dalam "Let's go for a meal" True/False

In [17]:
#8a
x = "3000 tahun yang lalu ?"
print("3000" in x)
#True

#8b
y=["apel","pisang","jeruk"]
print("apel" in y)
#True

#8c
z = "Let's go for a meal"
print ("et" in z)
#True

True
True
True

9. Tentang LiST
        1. Buat dan cetak sebuah list "classList" yang berisi 3 elemen yaitu Agus, Anna, Bella
        2. List indexing: Cari element ketiga dalam list dan tampilkan
        3. List slicing : Akses 2 element terakhir dalam List dan tampilkan
        4. Tambahkan element menggunakan metode append dan extend : Lisa, Maria
        5. Sisipkan (insert) element ke dalam list (1) setelah elememt kedua : Lisa         
        6. Remove Anna dari list
        7. Remove element kedua dari list menggunakan pop dan delete (dari list awal)

In [26]:
classList = list(("Agus", "Anna" , "Bella")) 
print(classList[2])
print(classList[1:3])
classList.extend(["Lisa", "Maria"])
print(classList)
classList.insert(1,"Lisa")
print(classList)
classList.remove("Anna")
print(classList)


classList2 = list(("Agus", "Anna" , "Bella")) 
print(classList2)
print("Di pop : "+ classList2.pop(1))
print(classList2)

Bella
['Anna', 'Bella']
['Agus', 'Anna', 'Bella', 'Lisa', 'Maria']
['Agus', 'Lisa', 'Anna', 'Bella', 'Lisa', 'Maria']
['Agus', 'Lisa', 'Bella', 'Lisa', 'Maria']
['Agus', 'Anna', 'Bella']
Di pop : Anna
['Agus', 'Bella']

10. DICTIONARY
        1. Buatlah sebuah dictionary databases yang diberi nama myClass (empty dictionary) dan tambahkan pasangan Key:Value berikut:
        Keys    : "Dosen","Asisten","Jumlah Mahasiswa"
        Values  : "Rido",["Charlie","Yayuk","Iman"],25
        Types   : String, list, int
        
        2. Tambahkan asisten ke-4 beri nama "Laurensius"
        3. Jumlah mahasiswa bertambah 3 menjadi 28
        4. Tampilkan hasil dari dictionary. hasil yang diharapkan :
            
           {'Dosen': 'Rido', 'Asisten': ['Charlie', 'Yayuk', 'Iman', 'Laurensius'], 'Jumlah Mahasiswa': 28}

In [30]:
myClass = {}
print(myClass)
myClass["Dosen"] = "Rido"
print(myClass)
myClass["Asisten"] = ["Charlie","Yayuk","Iman"]
print(myClass)
myClass["Jumlah Mahasiswa"] = 25
print(myClass)
myClass["Asisten"] = ["Charlie","Yayuk","Iman","Laurensius"]
print(myClass)
myClass["Jumlah Mahasiswa"] = (25+3)
print(myClass)

{}
{'Dosen': 'Rido'}
{'Dosen': 'Rido', 'Asisten': ['Charlie', 'Yayuk', 'Iman']}
{'Dosen': 'Rido', 'Asisten': ['Charlie', 'Yayuk', 'Iman'], 'Jumlah Mahasiswa': 25}
{'Dosen': 'Rido', 'Asisten': ['Charlie', 'Yayuk', 'Iman', 'Laurensius'], 'Jumlah Mahasiswa': 25}
{'Dosen': 'Rido', 'Asisten': ['Charlie', 'Yayuk', 'Iman', 'Laurensius'], 'Jumlah Mahasiswa': 28}